@import url(http://fonts.googleapis.com/css?family=Electrolize|Courgette|Open+Sans);
@import url("reset.css");
html{}

#gallery
{
    padding:0px;
    margin:0;    
    width: 100%;
    float: left;
    border:0px solid blue;
	background-color: #c5a059;
	border-radius:20px;
	
}

#gallery h1
{
    font-family: 'Electrolize', sans-serif;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-size:25px;
    color:#666;
    text-align: center;
    padding:6px;
    padding-bottom: 0px;
    padding-top:15px;
    width: 99%;
    border:0px solid blue;
}
#gallery .back img
{
    margin-top: -3px;
    opacity:0.7;
    -moz-opacity:0.7;
}
#gallery .back
{
    font-family: 'Courgette', cursive;
     font-size:18px;
    color:#333;
    text-align: left;
    width: 100px;
    display: block;
    border:0px solid blue;
    padding:0px;
    margin:0px;
    padding-left:8px;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
}

